<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Menu</title>

</head>
{% extends 'home.html' %}
{%block list%}
<body>
    <h1>SELECT MENU</h1>
    
</body>
<header>
    <nav>
        
        
        <a href="/contact/" class="btn btn-primary">Contact Us</a>
        <br>
        <a href="/monday/">Monday</a>
        <br>
        <a href="/tuesday/">Tuesday</a>
        <br>
        <a href="/wednesday/">Wednesday</a>
        <br>
        <a href="/thursday/">Thursday</a>
        <br>
        <a href="/friday/">Friday</a>
        <br>
        <a href="/saturday/">Saturday</a>
        <br>
        <a href="/sunday/">Sunday</a>

    
        <!-- Add more navigation links as needed -->
    </nav>
</header>
{%endblock %}
